.text-dark-100 {
  color: #212A3E;
}

.gradient_para {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #FAE7F3, #793fdf);
}

.footer_color {
  background-color: #0D7377;
}

.font_size {
  font-size: 3rem;
}